<%= link_to("Back to Homepage", {controller: 'main', action: 'index'}) %>

<div class="books-list"> 
    <% if flash[:notice] %>
    <div class="flash notice"><%= flash[:notice] %></div>
    <% end %>

    <% if flash[:alert] %>
    <div class="flash alert"><%= flash[:alert] %></div>
    <% end %>
    
    <h2>Books</h2>
    <%= link_to("Add new book", new_book_path, class: 'action new') %>

    <table class="listing" summary="Book List" style="width: 100%;">
        <tr class="header">
            <th>#</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
        <% @books.each do |book| %> 
            <tr>
                <td><%= book.id %></td>
                <td><%= book.title %></td>
                <td class="actions"> 
                    <%= link_to("Show", book_path(book), class:'action show') %> 
                    <%= link_to("Edit", edit_book_path(book), class: 'action edit') %> 
                    <%= link_to("Delete", delete_book_path(book), class:'action delete') %>
                </td> 
            </tr>
        <% end %>
    </table>
</div>