<%= link_to("Back to List", books_path, class: 'back-link') %>

<div class="books show"> 
    <h2>Show Book Details</h2>

    <div class='actions'>
        <%= link_to("Edit", edit_book_path(@book)) %>
        <%= link_to("Delete", delete_book_path(@book)) %>
    </div>

    <table summary='task detail view'> 
        <tr>
            <th>ID</th>
            <td><%= @book.id %></td>
        </tr>    
        <tr>
            <th>Title</th>
            <td><%= @book.title %></td>
        </tr>
        <tr>
            <th>Author</th>
            <td><%= @book.author %></td>
        </tr>
        <tr>
            <th>Published Date</th>
            <td><%= @book.published_date %></td>
        </tr>
        <tr>
            <th>Price</th>
            <td><%= number_to_currency(@book.price) if @book.price %></td>
        </tr>
    </table>
</div>